---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Sohp.Systems">
  <main>
    <Intro />
    <Projects />
  </main>
</Layout>

<style></style>
