---

---
<script>
  let statusStr = "";
	const status = document.getElementById("status");
	const getStatus = async (): Promise<void> => {
		try {
			const response = await fetch("https://api.lanyard.rest/v1/users/441666718507597834");
			let data = await response.json();
			data = data.data;

			if (data.discord_status == "dnd" || data.discord_status == "online" || data.discord_status == "idle") {
				statusStr = "<strong>Online</strong>";

        let spotify = data.spotify;
        if (spotify != null) {

          let artists = spotify.artist.split("; ");
          let song = spotify.song.substring(0, 30);
          if (song.length == 30) {
            song += "...";
          }
          song = "<a href='https://open.spotify.com/track/" + spotify.track_id + "' target='_blank'><u>" + song + "</u></a>";

          let artist = artists[0].substring(0, 20);
          if (artist.length == 20) {
            artist += "...";
          }

          statusStr += ` / Listening to <strong>${song}</strong> by <strong>${artist}</strong>`;

        }

			} else {
				statusStr = "Currently Offline";
			}
		} catch (error) {
			console.log(error);
			statusStr = "Failed to fetch status :(";
		}
    status.innerHTML = statusStr;
	};
	getStatus();
	setInterval(getStatus, 5000);
</script>
<section class="main" id="about">
  <div class="main-header">
    <div class="section-1">
      <h1>&lt;/&gt; Sophia</h1>
      <span>(she/her)</span>
    </div>
    <div class="section-2">
      <p>Developer / Designer / Researching Security</p>
      <p id="status">Loading status...</p>
    </div>
  </div>
  <div class="main-para">
    <p>
      Systems programmer & UX specialist,
      bringing quality of life features to online communities.
    </p>
    <p>
      I’m a student learning <strong>systems</strong> and <strong
        >back end</strong
      > development to ship only the <strong>highest quality </strong>software.
      I’ve also been researching <strong
        >cyber-security</strong
      > and intend to pursue a career in either security or <strong
        >software engineering</strong
      >, depending on where my path takes me. Many of my projects can be found
      on my <strong
        ><a href="https://github.com/Sophed/" target="_blank"><u>GitHub</u></a></strong
      > profile.
    </p>
    <p>
      I also do commissions for <strong>Minecraft development</strong> with
      most of my experience being in <strong>server side development</strong>, so if you’ve ever wanted to
      start your own server, or just want some help, feel free to send me a message for more info.
    </p>
    <hr />
  </div>
</section>

<style>
  .main {
    margin-inline: auto;
    width: 610px;
    padding: 70px;
    @media screen and (max-width: 772px) {
      width: auto;
      padding: 70px 30px;
    }
    @media screen and (max-width: 387px;) {
      padding: 70px 10px;
    }
    .main-header {
      display: flex;
      flex-direction: column;
      .section-1 {
        margin-bottom: 10px;
        h1 {
          color: var(--white);
          font-size: 2rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-weight: bold;
        }
      }
    }
    .main-para {
      margin-top: 2rem;
      hr {
        width: 20%;
        margin: 30px auto;
      }
      p {
        margin: 1rem 0;
        line-height: 1.5rem;
      }
    }
    * {
      a {
          color: unset;
          text-decoration: unset;
      }
    }
  }
</style>
