---

---

<section class="main">
  <div class="main-header">
    <div class="section-1">
      <h1>&lt;/h1&gt; Sophia</h1>
      <span>(she/her)</span>
    </div>
    <div class="section-2">
      <p>Developer • Designer • Researching Security</p>
    </div>
  </div>
  <div class="main-para">
    <p>
      Administrator at <strong>Stray,</strong> Minecraft developer & UX specialist,
      bringing quality of life features to online communities.
    </p>
    <p>
      I’m a student learning <strong>systems</strong> and <strong
        >back end</strong
      > development to ship only the <strong>highest quality software</strong>.
      I’ve also been researching various topics related to <strong
        >cyber-security</strong
      > and intend to pursue a career in either security or <strong
        >software development</strong
      >, depending on where my path takes me. Many of my projects can be found
      on my <strong
        ><a href="https://github.com/Sophed/" target="_blank">GitHub</a></strong
      > profile.
    </p>
    <p>
      I also do commissions for <strong>Minecraft development</strong> projects,
      especially <strong>server plugins</strong>, so if you’ve ever wanted to
      start your own server, feel free to send me a message for more
      information.
    </p>
    <hr />
  </div>
</section>

<style>
  .main {
    margin-inline: auto;
    width: 610px;
    padding: 70px;
    @media screen and (max-width: 772px) {
      width: auto;
      padding: 70px 30px;
    }
    @media screen and (max-width: 387px;) {
      padding: 70px 10px;
    }
    .main-header {
      display: flex;
      flex-direction: column;
      .section-1 {
        margin-bottom: 10px;
        h1 {
          color: var(--white);
          font-size: 2rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-weight: bold;
        }
      }
    }
    .main-para {
      margin-top: 2rem;
      hr {
        width: 20%;
        margin: 30px auto;
      }
      p {
        margin: 1rem 0;
        line-height: 1.5rem;
        a {
          color: unset;
          text-decoration: unset;
        }
      }
    }
  }
</style>
