---
import { Image } from "astro:assets";
import GithubIcon from "../assets/GitHub.svg";
---

<nav class="navbar">
  <div class="navbar-header">Soph.systems</div>
  <div class="navbar-links">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <!-- <li><a href="https://soph.systems/#">Contact</a></li> -->
      <li>
        <a href="https://github.com/Sophed/"
          ><Image src={GithubIcon} alt="GitHub" /></a
        >
      </li>
    </ul>
  </div>
</nav>
<style>
  .navbar {
    padding: 1rem;
    margin: 0.2em 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .navbar-header {
      font-family: "Allura", cursive;
      font-size: 36px;
    }
    .navbar-links {
      display: flex;
      justify-content: left;
      align-items: flex-start;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        gap: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media screen and (max-width: 537px) {
          li:nth-child(1) {
            display: none;
          }
        }
        @media screen and (max-width: 470px) {
          li:nth-child(2) {
            display: none;
          }
        }
        @media screen and (max-width: 393px) {
          li:nth-child(3) {
            display: none;
          }
        }
        li {
          a {
            font-size: 15px;
            color: var(--text);
            text-decoration: none;
            &:hover {
              color: var(--white);
            }
          }
        }
      }
    }
  }
</style>
